html {
    box-sizing: border-box;
    font-family: 'TT Lakes',sans-serif;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.asideMenu {
    margin: 0;
    padding: 18.73px 24px 32px;
    width: 320px;

    display: flex;
    flex-direction: column;

    box-shadow: 
    16px 0 52px #0E185033,
    -2px 0 4px #454F7E05;
}

.asideHeader {
    display: flex;
    align-items: center;
}

.button {
    padding: 0;
    border: none;
    border-radius: 50%;

    transition: transform 0.3s;
}

.button__img {
    display: block;
}

.button:hover,
.button:focus {
    transform: scale(108%);
}

.button:active {
    transform: translate(0em, 0.25em)
}

.logo {
    display: block;
}

.asideHeader__logo {
    margin-right: auto;
    margin-left: 16.73px;

}

.asideHeader__logo:focus,
.asideHeader__logo:hover,
.asideHeader__logo:active {
    transform: none;
}

.asideMenu__nav {
    margin-top: 46.27px;
    margin-bottom: 268px;
}

.nav__list,
.asideFooter__buttonList,
.lang {
    width: max-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav__list {
    flex-direction: column;
    row-gap: 32px;
    position: relative;
}

.nav__link,
.lang__el,
.mail,
.tel {
    display: block;
    width: max-content;
    text-decoration: none;
    color: #1B1C21;
    font-style: normal;
    transition: color 0.3s;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active,
.lang__el:hover,
.lang__el:focus,
.lang__el:active{
    
    color: #7E7E82;
} 

.nav__link::before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
    transform: translate(-24px, -4px);
    transition: opacity 0.3s;
}

.nav__link:hover::before,
.nav__link:focus::before,
.nav__link:active::before {
    opacity: 1;
}

.asideFooter__buttonList {
    column-gap: 16px;
}

.address {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.asideFooter__address {
    margin-top: 10px;
    margin-bottom: 40px;
}

.tel {
    letter-spacing: -0.6px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bolder;
}

.lang {
    column-gap: 7px;
}


