html {
    box-sizing: border-box;
    font-family: 'TT Lakes',sans-serif;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 18.73px 24px 32px;
    width: 320px;
    box-shadow: 16px 0 52px #0E185033;
}

a {
    text-decoration: none;
    color: #1B1C21;
    font-style: normal;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

/******************************************/

/* head */

.header {
    display: flex;
    align-items: center;
}

.header__el,
.footer__nav > .nav__el {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.header__el:hover,
.footer__nav > .nav__el:hover,
.header__el:focus,
.footer__nav > .nav__el:focus {
    transform: scale(108%);
}

.header__el:active,
.footer__nav > .nav__el:active {
    transform: translate(0em, 0.25em)
}


.header__button--burger--togled {
    background: no-repeat url('icons/burger_togled.svg');
}

.header__link--logo {
    display: inline-block;
    width: 97px;
    height: 51px;
    background: no-repeat url('imgs/Group.svg');
    margin-right: auto;
    margin-left: 16.73px;
}

.header__link--logo:focus,
.header__link--logo:hover,
.header__link--logo:active {
    transform: none;
}

.header__button--search {
    background: no-repeat url('icons/search.svg');
}


/******************************************/

/* nav */

.aside {
    display: flex;
    flex-direction: column;
    row-gap: 268px;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.aside__nav {
    position: relative;
    padding-top: 46.27px;
}

.aside__nav > .nav__el {
    transition: color 0.3s;
}

.aside__nav > .nav__el:hover,
.aside__nav > .nav__el:focus,
.aside__nav > .nav__el:active{
    color: #7E7E82;
} 


.aside__nav > .nav__el::before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
    transform: translate(-24px, -4px);
    transition: opacity 0.3s;
}

.aside__nav > .nav__el:hover::before,
.aside__nav > .nav__el:focus::before,
.aside__nav > .nav__el:active::before {
    opacity: 1;
}


/******************************************/

/* footer */

.footer__nav {
    display: flex;
    column-gap: 16px;
    flex-direction: row;
    width: max-content;
    padding-bottom: 10px;
}

.nav__link--call {
    background: no-repeat url('icons/call.svg');
}

.nav__link--chat {
    background: no-repeat url('icons/chat.svg');

}

.nav__link--profile {
    background: no-repeat url('icons/profile.svg');

}

.footer__addres {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.addres__tel {
    letter-spacing: -0.6px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bolder;
}

.footer__langChange {
    display: flex;
    column-gap: 7px;
    padding-top: 40px;
}

.langChange__link {
    transition: color 0.3s;
}

.langChange__link:hover,
.langChange__link:active,
.langChange__link:focus {
    color: #7E7E82;
}